<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Incube - Instructors</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<style>
		html,
		body {
			height: 100%;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
		}

		body {
			display: flex;
			flex-direction: column;
			min-height: 100vh;
		}

		footer {
			flex-shrink: 0;
		}

		.logo {
			background-color: #6366f1;
			padding: 0.5rem;
			border-radius: 0.5rem;
			display: inline-block;
		}

		.modal-container {
			max-width: 500px;
			margin: 0 auto;
			position: relative;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
			transform: scale(0.8);
			opacity: 0;
		}

		.modal-container.show {
			transform: scale(1);
			opacity: 1;
		}

		.modal-overlay {
			backdrop-filter: blur(5px);
		}

		.modal-close {
			transition: color 0.2s ease-in-out;
		}

		.modal-cancel {
			transition: background-color 0.2s ease-in-out;
		}
	</style>

</head>

<body class="bg-gray-100">
	<!-- Header -->
	<nav class="bg-white shadow-md">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex justify-between h-16">
				<div class="flex">
					<div class="flex-shrink-0 flex items-center">
						<div class="logo">
							<img class="h-8 w-auto" src="https://www.myincube.com/assets/images/incube-logo.png"
								alt="Incube Logo">
						</div>
					</div>
					<div class="hidden sm:ml-6 sm:flex sm:space-x-8">
						<a th:href="@{/dashboard}"
							class="inline-flex items-center px-1 pt-1 border-b-2 border-indigo-500 text-sm font-medium leading-5 text-gray-900 focus:outline-none focus:border-indigo-700 transition duration-150 ease-in-out">Dashboard</a>
						<a th:href="@{/dashboard}"
							class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Courses</a>
						<a th:href="@{/instructors}"
							class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Instructors</a>
						<a th:href="@{/students}"
							class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300 transition duration-150 ease-in-out">Students</a>
					</div>
				</div>
				<div class="hidden sm:ml-6 sm:flex sm:items-center">
					<div class="ml-3 relative">
						<div>
							<button
								class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
								id="user-menu" aria-label="User menu" aria-haspopup="true">
								<img class="h-8 w-8 rounded-full"
									src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
									alt="User Avatar">
							</button>
						</div>
						<!-- Display the sessioned username -->
						Welcome <b><span th:text="${sessionedUserName}" class="ml-2"
								style="color: rgb(255, 128, 255);"></span></b>
					</div>
				</div>
			</div>
		</div>
	</nav>


	<!-- Main Content -->
	<div class="py-6">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
			<h1 class="text-2xl font-semibold text-gray-900">Instructors</h1>
		</div>
		<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
			<div class="py-4">

				<!-- Instructors Details List -->
				<div class="bg-white overflow-hidden shadow rounded-lg">
					<div class="px-4 py-5 sm:p-6">
						<div class="flex justify-between items-center">
							<h3 class="text-lg leading-6 font-medium text-gray-900">Instructors Details</h3>
							<button
								class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-700"
								id="addInstructorButton" onclick="showModal()">
								<i class="fas fa-plus mr-2"></i>
								Add Instructor
							</button>
						</div>
						<div class="mt-6">
							<table class="min-w-full divide-y divide-gray-200">
								<thead>
									<tr>
										<th scope="col"
											class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
											Instructor ID
										</th>
										<th scope="col"
											class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
											Name
										</th>
										<th scope="col"
											class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
											Email Address
										</th>
										<th scope="col"
											class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
											Phone Number
										</th>
										<th scope="col"
											class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
											Subject Handling
										</th>
										<th scope="col" class="px-6 py-3 bg-gray-50"></th>
									</tr>
								</thead>
								<tbody class="bg-white divide-y divide-gray-200">
									<tr th:each="instructor : ${instructorsList}">
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm text-gray-500" th:text="${instructor.instructorId}">
												Instructor ID
											</div>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm font-medium text-gray-900" th:text="${instructor.name}">
												Name
											</div>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm text-gray-500" th:text="${instructor.emailAddress}">
												Email Address
											</div>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm text-gray-500" th:text="${instructor.phoneNumber}">
												Phone Number
											</div>
										</td>
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm text-gray-500" th:text="${instructor.subjectHandling}">
												Subject Handling
											</div>
										</td>
										<td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
											<a href="#" class="text-indigo-600 hover:text-indigo-900">View</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Add Instructor Modal -->
	<div id="addInstrctorModal" class="fixed inset-0 z-50 overflow-auto flex items-center justify-center hidden">
		<div class="absolute inset-0 bg-gray-800 opacity-75"></div>
		<div class="relative bg-white rounded-lg shadow-lg p-6 mx-auto max-w-lg">
			<button class="absolute top-0 right-0 m-4 text-gray-500 hover:text-gray-700 focus:outline-none"
				id="closeModal">
				<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
				</svg>
			</button>
			<h3 class="text-xl font-semibold mb-4">Add Instructor</h3>
			<form id="addCourseForm" onsubmit="addNewInstructor(event)">
				<div class="mb-4">
					<label for="courseName" class="block text-gray-700 font-semibold mb-1">Name</label>
					<input type="text" id="name" name="name"
						class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-indigo-500"
						required>
				</div>
				<div class="mb-4">
					<label for="duration" class="block text-gray-700 font-semibold mb-1">Email Address</label>
					<input type="text" id="emailID" name="emailID"
						class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-indigo-500"
						required>
				</div>
				<div class="mb-4">
					<label for="duration" class="block text-gray-700 font-semibold mb-1">Phone Number</label>
					<input type="text" id="phoneNumber" name="phoneNumber"
						class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-indigo-500"
						required>
				</div>
				<div class="mb-4">
					<label for="instructor" class="block text-gray-700 font-semibold mb-1">Subject Handling</label>
					<input type="text" id="subjects" name="subjects"
						class="w-full border border-gray-300 rounded-md px-3 py-2 focus:outline-none focus:border-indigo-500"
						required>
				</div>
				<div class="flex justify-end mt-6">
					<button type="button"
						class="modal-cancel mr-3 px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 focus:outline-none"
						id="cancelModal">Cancel</button>
					<button type="submit"
						class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none">Save</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Update Instructor Details Modal -->
	<!-- (Add your Update Instructor Details Modal code here) -->

	<script th:src="@{/js/instructors.js}"></script>
	<!-- Footer -->
	<!--<footer class="bg-gray-800 py-6">
		<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
			<div class="flex justify-center">
				<p class="text-gray-400 text-sm">&copy; 2023 Incube. All rights reserved.</p>
			</div>
		</div>
	</footer>-->
</body>

</html>